
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
    <body>
        @RenderBody()
    </body>
</html>