
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutPageConfirmation.cshtml";
}

<h2>@ViewBag.MensajeConfirmacion</h2>
<input type="button" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" onclick="window.location.href='/Security/Login'"  value="Ingresar al sitio">



